# config/packages/flysystem.yaml
flysystem:
    storages:
        filesystem.local.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/public/media/original'

#        archive.storage:
#            adapter: 'aws'
#            # visibility: public # Make the uploaded file publicly accessible in S3
#            options:
#                client: 'Aws\S3\S3Client' # The service ID of the Aws\S3\S3Client instance
#                bucket: '%env(AWS_S3_BUCKET_NAME)%'
#                streamReads: true
#                prefix: '%env(S3_STORAGE_PREFIX)%'
            # also on production, for thumbnail creation
        local.storage:
                adapter: 'local'
                options:
                    directory: '%kernel.project_dir%/public/images'

        filesystem.original.storage:
            adapter: 'aws'
            options:
                client: 'Aws\S3\S3Client' # The service ID of the Aws\S3\S3Client instance
                bucket: '%env(AWS_S3_BUCKET_NAME)%'
                streamReads: true
                prefix: '%env(S3_STORAGE_PREFIX)%'

        filesystem.cache.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/public/media/cache'

services:
    Aws\S3\S3Client:
        arguments:
            - version: '2006-03-01'
              region: 'fsn1' # for now, ignored by hetzner
                #              region: 'nyc3' # digital Ocean
              endpoint: '%env(S3_ENDPOINT)%'
              use_path_style_endpoint: true
              credentials:
                  key: '%env(AWS_S3_ACCESS_ID)%'
                  secret: '%env(AWS_S3_ACCESS_SECRET)%'


