# config/packages/flysystem.yaml
flysystem:
    storages: &base_storages
        filesystem.local.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/public/media/original'

        local.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/public/images'

        filesystem.original.storage:
            adapter: 'aws'
            options:
                client: 'Aws\S3\S3Client'
                bucket: '%env(AWS_S3_BUCKET_NAME)%'
                streamReads: true
                prefix: '%env(S3_STORAGE_PREFIX)%'

        filesystem.cache.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/public/media/cache'

services:
    Aws\S3\S3Client:
        arguments:
            - version: '2006-03-01'
              region: 'fsn1'
              endpoint: '%env(S3_ENDPOINT)%'
              use_path_style_endpoint: true
              credentials:
                  key: '%env(AWS_S3_ACCESS_ID)%'
                  secret: '%env(AWS_S3_ACCESS_SECRET)%'

when@dev:
    flysystem:
        storages:
            <<: *base_storages
            filesystem.original.storage:  # Override just this one
                adapter: 'local'
                options:
                    directory: '%kernel.project_dir%/public/media/original'
